.font-white {
    color: #FFFFFF!important;
}

.font-blue {
    color: #007BFF!important;
}

.text-none-transform {
    text-transform: none!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

/*Como funciona*/

.funciona-text {
    /*color: #ACC2E2;*/
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ACC2E2!important;
}

/*Como funciona*/

/* SOCIO */

.bg-socios {
    background-color: #133265;
}

.text-socio {
    position: relative;
    color: #ffffff;
}

/* SOCIO */

.socios-test {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.text-socio-overlay p {
    color: #fff;
    font-size: 14px;
}

.bg-overlay-clasico li, .bg-overlay-oro li {
    font-size: 14px;
    font-style: italic;
}

@media (max-width: 1199px){
    .bg-overlay-clasico li, .bg-overlay-oro li {
        font-size: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .text-socio-overlay p {
        color: #fff;
        font-size: 11px;
    }
    .bg-overlay-clasico li, .bg-overlay-oro li {
        font-size: 10px;
        font-style: italic;
    }
    .text-socio-title {
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 0px;
    }
    .text-socio-overlay {
        margin: 9px;
        padding: 4px;
    }    
}

.socios-test > .overlay {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}

.socios-test > .overlay.bg-overlay-oro {
    background: rgba(130, 98, 0, 0.9);    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}

.socios-test > .overlay.bg-overlay-clasico {
    background: rgba(19, 50, 101, 0.9);    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}

.socios-test:hover .overlay {
  opacity: 1;
}

.text-socio-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;    
}

.text-socio-hover:hover {
    opacity: 1;
}

.text-socio-overlay {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 22px;
    padding: 22px;
    border: 4px solid #ffffff;
}

.text-socio-title {
    color: #ffffff;
}

.text-descripcion {
    background: #133265;
}

/* Experiencias */

.img-experiencias {
    position: relative;
    color: #FFFFFF;
}

.bg-experiencia-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/*Experiencias*/

.crop {
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 700px) {
    .crop img {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (max-width: 991px) {
    .experiencias-panel-2 {
        display: none;
    }
    .principal-title {
        font-size: 25px!important;
        line-height: 31px!important;
    }    
}

/*Experiencias*/
.icons-collapse[aria-expanded=false] .fa-minus {
    display: none;
}

.icons-collapse[aria-expanded=true] .fa-plus {
    display: none;
}

.green-text {
    color: #21CF7B!important;
}

.blue-text {
    color: #133265;
}

.dark-blue-text {
    color: #133265;
}

.carousel-item {
   /* height: 623.39px!important;*/
}

.carousel-text {
    position: absolute;
    left: 155px!important;
    top: 189px!important;
}

.carousel-text p {
    color: white;
    font-size: 22px;
    line-height: 32px;
}

.principal-title {
    font-size: 42px;
    color: #0060D0;
    line-height: 45px;
}

.section-text {
    line-height: 29px;
}

.separator-left-green {
    width: 100px;
    height: 2px;
    background-color: #9CFF00;
    margin: 32px 0px;
}

.separator-center {
    width: 45px;
    height: 2px;
    background-color: #3F98FF;
    margin: 32px auto;
    margin-left: 47%!important;
}

.separator-left-large {
    width: 100%;
    height: 1px;
    background-color: #3F98FF;
    margin: 32px 0px;
    margin-bottom: 32px;
}

.lista-guion li {
    list-style-type: none;
}

.lista-guion li::before {
    content: "-"
}

.txt-12 {
    font-size: 14px;
    line-height: 22px;
}

/* Social media */

.socialmediaicons .fa-facebook {
    background: #3B5998;
    color: white;
}

.socialmediaicons .fa-twitter {
    background: #55ACEE;
    color: white;
}

.socialmediaicons .fa-google {
    background: #dd4b39;
    color: white;
}

.socialmediaicons2 .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
}

.socialmediaicons .fa {
    padding: 10px;
    font-size: 17px;
    width: 39px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
}

.card-publish {
    font-weight: 500;
    text-transform: initial;
    text-align: center;
    color: #787C85;
    font-size: 0.625rem;
    margin-bottom: 0px;
}

.auto-height {
    min-height: auto!important;
}

.font-8 {
    font-size: 8px!important;
}

.font-10 {
    font-size: 10px!important;
}

.font-12 {
    font-size: 12px!important;
}

.ref-list {
    border: 2px solid #007BFF;
    border-radius: 16px;
    padding: 30px;
    margin: 20px 0px;
}

li.media.ref-list > img {
    margin-top: 2px;
}

.ref-list h4 {
    font-size: 40px;
}

.ref-list p {
    font-size: 14px;
    font-weight: 600;
    /*max-width: 80%;*/    
}

@media (min-width:768px) {
    .carousel {
        width: 100%;
    }
}

/*@media (max-width:768px) {
    .carousel-inner {
        height: 281px;
    }
}*/

/*  CONOCENOS  */

.tabs-conocenos {
    color: #133265;
}

.tab-conocenos .nav-item a img {
    max-width: 130px;
    display: inline-block;
}

.conocenos-info-puntos img {
    margin-bottom: 8px;
}

.tab-conocenos li {
    width: 25%;
    margin: 0;
    text-align: center;
}

.tab-conocenos a.nav-link {
    min-height: 75px;
}

.frame {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.tab-conocenos.nav-tabs .nav-link.active, .tab-conocenos.nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border-color: #ACC2E2;
}


.conocenos-bookingclub {
    background-color: #4A7D5E;
}

.conocenos-citypremios {
    background-color: #0060D0;
}

.conocenos-clubcontigo {
    background-color: #A1436D;
}

.conocenos-clubempresarial {
    background-color: #578DC2;
}

.conocenos-citypremios-2 {
    background-color: #DADADA;
}

.conocenos-citypremios-3 {
    background-color: #E3F0FF;
}

.img-body {
    max-height: 40px;
    margin-top: 12px;
}

.hr-white {
    border-top: 1px solid #ffffff;
}

.w-7e0 {
    width: 70%;
}

@media (max-width:768px) {
    .tab-conocenos a.nav-link {
        min-height: 52px;
    }
    .img-body {
        max-height: 50px;
    }
}